<style>
	.main{
		width:300px;
		height:50px;
		border:1px solid grey;
		text-align:center;
		margin-left:37%;
		margin-top:20px;
		margin-bottom: 20px;
	}
	.main div{
		display:inline;
		width: 100px;
		height: 50px;
	}
</style>
 <div class="main">
 	<div >
		<button class="btn ">
		<%#= link_to "User-Signup", new_member_registration_path, :class => 'navbar-link'  %>
		</button>
		
 	</div>

 	<div >
		<button class="btn ">
		<%#= link_to "Affiliate-Signup", new_member_registration_path, :class => 'navbar-link'  %>
		</button>
 	</div>
 </div>
